<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=title%> <span class="newMessage"><a href="/new">Post new message</a></span></h1>
      <%msg.map(m=>{%>
      <ul class="messages">
        <li><%=m.user%></li>
        <li><%=m.text%></li>
        <li><%=m.added.toLocaleString()%></li>
      </ul>
      <%})%>
  </body>
</html>
