<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/script.js" defer></script>
  </head>
  <body>
    <h1><%=title%> <span class="newMessage"><a href="http://localhost:3000/new">Post new message</a></span></h1>
      <%msg.map(m=>{%>
      <ul class="messages">
        <li><%=m.user%></li>
        <li><%=m.text%></li>
        <li><%=m.added%></li>
      </ul>
      <%})%>
  </body>
</html>
